[submodule "3 ano/IA/P/resolucao-automatica-de-problemas-BravooZ"]
	path = 3 ano/IA/P/resolucao-automatica-de-problemas-BravooZ
	url = git@github.com:detiuaveiro/resolucao-automatica-de-problemas-BravooZ.git
